$baseBG: linear-gradient(
  89.7deg,
  rgba(0, 0, 0, 1) -10.7%,
  rgba(53, 92, 125, 1) 88.8%
);

$baseColor: rgb(126, 185, 190);

$borderBold: thick solid #2995c4;

$borderThin: thin solid #2995c4;

$btnBG: linear-gradient(89deg, #28abe2 0.1%, #298ab6 51.5%, #48b1ea 100.2%);

$transparentBG: rgba(0, 0, 0, 0.4);

$txtUpperCase: uppercase;

$txtLowerCase: lowercase;
