// Base variables

$baseBG: white;
$baseColor: yellow;
$base-duration: 500ms;
$txtUpperCase: uppercase;
$txtLowerCase: lowercase;
$borderThin: thin solid #eee;
$borderBold: thick solid #eee;
$transparentBG: rgba(0, 0, 0, 0.4);
$error: rgba(255, 210, 128, 0.980392);
$btnBG: linear-gradient(89deg, #28abe2 0.1%, #298ab6 51.5%, #48b1ea 100.2%);

// Colors
$colorFirst: #444;
$colorSecond: #3498db;
$colorThird: #2ecc71;
